body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Description Box Styling */
h2{
    color: #00b5c8;
    font-weight: 800;
    font-size: 30px;
}

.services{
  background-color: #fff;
  height: 65vh;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.services .mainservices {
    background-color: #00b5c8;
    height: 10vh;
   
}
.services .mainservices h2 {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.services .description {
    background-color: #fff;
}

.services .description  p{
    padding-top: 5px;
    padding-left: 5px;
    padding-right:5px;
    font-family: "Open Sans" , sans-serif;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    color: rgb(102,102,102);
    line-height: 24px;
    text-align: center;
}

.services .description ul li{
    list-style: none;
    text-align: center;
    padding-top: 5px;
    font-family: "Open Sans" , sans-serif;
    text-align: justify;
    font-size: 14px;
    font-weight: 400;
    color: rgb(102,102,102);
    line-height: 24px;
    text-align: center;
}



.main-container{
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../../images/landing2.jpeg);*/
     background-color: cover;
     background-position: center;
     color: #000 !important;
 }
 
 .Services{
     margin: 10px auto;
     text-align: center;
     color: #00b5c8;
     font-weight: 800;
     font-size: 30px;
 }
 
 .Services h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #00b5c8;
    padding-bottom: 10px;
 }

 .Services h1:after{
    content: '';
    background : #00b5c8;
    display: block;
    height: 3px;
    width: 200px;
    margin: 10px auto;
}
 
 h1{
     font-family: sans-serif;
     letter-spacing: 1px;
 }
 
 h1:after{
     content: '';
     background: white;
     display: block;
     width: 150px;
     height: 3px;
     margin: 10px auto;
 }
 
 .icon{
     font-size: 30px;
     margin: 10px auto;
     padding: 12px;
     height: 70px;
     width: 70px;
     border: 2px solid #00b5c8;
     border-radius: 50%;
     color: #00b5c8;
 }
 
 .col-md-3:hover{
  box-shadow: 5px 7px 9px -3px rgba(243, 20, 20, 0);
  cursor: pointer;
 }
 
 /*Styling */
 .col-md-5 p{
     text-align: justfiy;
     color: black;
     /*color: white;*/
     font-weight: 600;
     line-height: 24px;
     font-family: 'Merriweather', serif;
 }
 
 .col-md-5 ul li{
     color: black;
    /* color: white; */
     text-align: justify;
     font-weight: 600;
     line-height: 24px;
     font-family: 'Merriweather', serif;
 }
 
 .col-md-5 h3{
     color: #00b5c8;
     font-weight: 600;
     font-size: 24px;
 }

 /*Styling */

/*changed by anil*/
.col-md-6 p{
    text-align: justfiy;
    color: black;
    /*color: white;*/
    font-weight: 500;
    line-height: 24px;
    font-family: 'Merriweather', serif;
}

.col-md-6 ul li{
    color: black;
   /* color: white; */
    text-align: justify;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Merriweather', serif;
}

.col-md-6 h3{
    color: #00b5c8;
    font-weight: 600;
    font-size: 24px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 2px;
} 
#image1{
    margin-top: 5%;
    box-shadow: 15px 15px 10px grey;
}
