body {
    /*background-color:lightgray;*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#homeTag {
    font-family: 'Segoe UI';
    border-left: 5px solid darkred;
}

/*#homeTag h1{
    font-size:50px;
}*/
.foot a{
    margin-top:-3%;
}
.homepg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
    background-blend-mode:darken;
    position: relative;
    padding: 0 10%;
    display: flex;
    padding-top:10%;
    align-items:center;
    justify-content:center;
}


.content h1{
    color: silver;
    line-height:1.5;
}
.content p {
    color: silver;
}

.back-video{
    position: absolute;
    right: 0;
    bottom :0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9){
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}


.slick-slide{
    margin:0 0px;
}

.slick-prev:before {
	content:"<";
	font-size:30px;
    color: black !important;
}

.slick-next:before {
	content:">";
	font-size:30px;
    color: black !important;
}

.card-title{
    text-align:center;
}

.card-body a {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*comment for background image*/
/*.card{
    background-color:lightgoldenrodyellow !important;
}
.card-body {
}
*/

.items{
    padding-left:5%;
   padding-right:5%;
   
}
.items img{
    padding-left:45px;
    padding-right:45px;
    padding-top: 5px;
    border-radius:50%
}
.items ul{
    padding:unset;
}


    .items .card {
        background: linear-gradient(180deg, white 35%, #e4baba 65%);
        height: 400px;
        border: 2px solid darkred;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 10px gray;
    }
.card:hover {
    background: #c46a72;
}
.card li{
    font-size:15px;
}

/*fror about section*/
.box {
    --b: 5px; /* thickness of the border */
    --c: red; /* color of the border */
    --w: 150px; /* width of border */


    border: var(--b) solid transparent; /* space for the border */
    --g: #0000 90deg,var(--c) 0;
    background: conic-gradient(from 180deg at top 5px right 5px, var(--g)) 100% 0, 
        conic-gradient(from 0deg at bottom var(--b) left var(--b),var(--g)) 0 100%;
    background-size: var(--w) var(--w);
    background-origin: border-box;
    background-repeat: no-repeat;
    /*Irrelevant code*/
}
/*about section ends*/


/*experties section*/
.experties {
    padding:1%;
    text-align: center;
}

.experties a{
		text-decoration:none;
		color:darkred;
		font-weight:400;
}
    .experties img {
        padding-top:1%;
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    .experties p {
        margin-top: 10px;
        text-align: center !important;
    }

.expimg {
    border: 1px solid gray;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
    width: 100%;
    align-content: center;
    margin: auto;
}

    .expimg:hover {
        background-color: #c46a72;
        box-shadow: 5px 10px 8px #f7c3c6;
        height: stretch;
        width:stretch;
    }

/*.experties:nth-child(1) .expimg{
    background-color:lightblue;
}*/

/*end experties*/


.homeBtn a {
    /*background-color:darkred;*/
    background-image: linear-gradient(to right, #6c2424, #412a2a);
    border: 1px solid black;
    border-radius: 5px;
    width: 140px;
    display: inline-block;
    color: white;
}

    .homeBtn a:hover {
        /*background-color:#945757;*/
        background-image: linear-gradient(to right, black,darkred );
        color: white;
    }

.homeBtn .landbtn {
    color: white !important;
}

.abouticon {
    background-color: transparent !important;
    color: darkred !important;
    width: 30px !important;
}

    .abouticon:hover {
        background-color: dodgerblue !important;
        color: white !important;
    }