
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
}


 /*Landing Page */
.header1 {
    padding-top: 5%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../images/Photos/landing.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.abctech {
    padding-top: 5%;
    padding-left: 12%;
    font-family: 'Work Sans', sans-serif;
    line-height: 130%;
    letter-spacing: 0em;
    color: #ffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.abctech-1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #ffff;
    text-align: justify;
    
}


.abctech-1 {
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft {
    0% {
        transform: translate(100px);
        opacity: 0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

.abctech-1 {
    animation-delay: 1s;
}

p.abctech-1 {
    animation-delay: 2s;
}


.contactusbtn {
    background: #1798E6;
    height: 40px;
    width: 140px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    color: white;
    top: 560px;
    position: absolute;
}

/*About Us*/

.abtus123 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#conabtus123 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 50%;
    height: 500px;
    background-image: url(../images/4.jpg);
    background-repeat: no-repeat;
    position: center;
    background-size: cover;
    border-radius: 8px;
}

.right {
    width: 50%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), -8px 0px 16px rgba(0, 0, 0, 0.08);
    margin-left: -100px;
    min-height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
}

.abtusp {
    margin: 20px 0;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    font-family: 'Work Sans', sans-serif;
    text-align: justify;
}

/*Services*/
.servcdiv {
    background: #ffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 3%;
    font-family: 'Work Sans', sans-serif;
}

    .servcdiv:hover {
        transform: scale(1.1);
        z-index: 2;
    }
.homeservc {
    padding-top: 5%;
}
.servctitle {
    text-align: center;
    padding-top: 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
}

.servcul {
    text-align: left;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 160%;
    margin-top: 20%;
}

.learnmore {
    color: black;
    text-decoration: none;
    font-weight: 600;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
}


@media (min-width: 992px) {
}

@media (min-width: 768px) and (max-width: 991px) {
    .abctech{
        padding-right:15% !important;
    }


    .h1#abctext {
        font-size: 30px !important;
    }

    .contactusbtn {
        top: 750px !important;
        
    }

    .abcAny {
        width: 100%;
        margin-top:20%;
        padding-right:15%;
        padding-bottom: 20%;
    }

    .abtusp {
        font-size: 12px;
    }

    .divabt1234 {
        margin: auto;
    }
    .tophead{
        /* padding-top: 10% !important; */
        height: 700px !important; 
        margin-top: 10%;
    }
}

@media (min-width: 575px) and (max-width: 767px) {
    .abctech{
        padding-right:15% !important;
    }


    .h1#abctext {
        font-size: 30px !important;
    }

    .contactusbtn {
        top: 700px !important;
        
    }

    .abcAny {
        width: 100%;
        margin-top:5%;
        padding-right:15%;
        padding-bottom: 10%;
    }

    .abtusp {
        font-size: 12px;
    }

    .divabt1234 {
        margin: auto;
    }
    .tophead{
        /* padding-top: 10% !important; */
        height: 600px !important; 
        margin-top: 10%;
    }
}

@media (min-width: 480px) and (max-width: 574px) {


    .abctech{
        padding-right:15% !important;
    }


    .h1#abctext {
        font-size: 30px !important;
    }

    .contactusbtn {
        top: 750px !important;
        
    }

    .abcAny {
        width: 100%;
        margin-top:20%;
        padding-right:15%;
        padding-bottom: 20%;
    }

    .abtusp {
        font-size: 12px;
    }

    .divabt1234 {
        margin: auto;
    }
    .tophead{
        /* padding-top: 10% !important; */
        height: 700px !important; 
        margin-top: 10%;
    }
    
}

@media (max-width: 479px) {

    .abctech{
        padding-right:15% !important;
    }


    .h1#abctext {
        font-size: 30px !important;
    }

    .contactusbtn {
        top: 750px !important;
        
    }

    .abcAny {
        width: 100%;
        margin-top:20%;
        padding-right:15%;
        padding-bottom: 20%;
    }

    .abtusp {
        font-size: 12px;
    }

    .divabt1234 {
        margin: auto;
    }
    .tophead{
        /* padding-top: 10% !important; */
        height: 700px !important; 
        margin-top: 10%;
    }
    
}
